*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgba(204, 203, 203, 0.02);
}
.flex {
  display: flex;
}
.header {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.836),
      rgba(34, 34, 34, 0.836)
    ),
    url("./images/bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 40vh;
  color: rgb(232, 232, 247);
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.header-container {
  width: 550px;
  max-width: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}
.date > p {
  word-spacing: 2px;
  font-size: 1.3rem;
}
.total-amount {
  margin-top: 0.7rem;
  font-size: 2rem;
  letter-spacing: 2px;
}
.income {
  width: 430px;
  max-width: 100%;
  padding: 0.7rem;
  margin-top: 0.8rem;
  background: #41a226de;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.expenses {
  width: 430px;
  max-width: 100%;
  padding: 0.7rem;
  margin-top: 0.8rem;
  background: #f73a2cd5;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.input-wrapper {
  display: flex;
  padding: 0.5rem;
  background: #eef;
  justify-content: center;
}

.select {
  width: 50px;
  padding: 5px 9px;
  /* height: 40px; */
  font-size: 17px;
  outline: none;
}
.amount {
  width: 85px;
  /* margin: 0 10px; */
  padding: 5px 13px;
  outline: none;
  font-size: 16px;
}
.description {
  width: 253px;
  /* margin: 0 10px;1 */
  padding: 5px 13px;
  outline: none;
  font-size: 16px;
}

form {
  width: 500px;
  max-width: 96%;
  display: flex;
  justify-content: space-evenly;
}

button {
  padding: 10px;
  border-radius: 50%;
  border: 0.5px solid rgba(68, 68, 68, 0.45);
  background: #eef;
  cursor: pointer;
  outline: none;
}
.fa-check {
  color: #41a226de;
  vertical-align: middle;
}

.content {
  display: flex;
  justify-content: center;
}

.budget-container {
  margin-top: 3rem;
  width: 850px;
  max-width: 96%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 0 4rem;
}

.display-income,
.display-expenses {
  padding: 13px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* cursor: pointer; */
}
.display-income:nth-child(odd) {
  background: #eee;
}
.display-expenses:nth-child(odd) {
  background: #eee;
}

.expenses-content > h3,
.income-content > h3 {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.expenses-content > h3 {
  color: #f73a2cd5;
}

.income-content > h3 {
  color: #41a226de;
}
.delete-btn {
  border: none;
  font-size: 17px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  display: none;
  font-weight: 300;
  margin: 0 5px;
}

.delete-content {
  opacity: 0;
}

.delete-content:hover {
  opacity: 1;
}
